    * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;}

    .container-total {
         
       
        }

    .container-direito {
        display: inline-block;
        background-color: rgb(93, 93, 125,.16);
        height: 130vh;
        width: 39%;
        
    }   


    .container-esquerdo {
        display: inline-block;
        width: 60%;

    }

    h1 {
        margin: 20px 314px 1px 136px;
        width: 368px;
        height: 160px;
        font-size: 70px;
        line-height: 80px;
        color: #5D5D7D;

    }

    img {
        width: 456px;
        height: 561.95px;
        position: relative;
        margin-left: -140px;
    }

    p {

    width: 540px;
    height: 144px;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    margin: 15px 141px 15px 130px;
    opacity: 0.6;
    }

    button {
    color: white;
    font-size: 24px;
    line-height: 36px;
    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin: 28px 469px 123px 136px;
    }
    
    button:hover {

        opacity: 0.7;
    }

    button:active {

        color: blueviolet;
    }

    header {

    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    margin: 24px 41px 150px 57px;
    cursor: pointer;

    }

    a {
        padding: 20px;
    }

    a:hover {

    opacity: 0.4;
    }

    a:active {

        color: blueviolet;
    }

    a:nth-child(2) {
        opacity: 0.4;
    }

    @media screen and (max-width:650px) {

    .container-esquerdo {

        width: 100%;
        height:50%;
        padding: 0;
        margin: 0;
    }

    .container-direito {

        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }   

img {

    position: static;
    width: 200px;
    height: 250px;
    margin: 0px 40px;
}

header {

    display: none;
}

h1 {

font-size: 36px;
line-height: 52px;
text-align: center;
width: 235px;
margin: 58px 53px 15px 70px;

}

p {

font-size: 14px;
line-height: 24px;
text-align: center;
width: 250px;
margin: -45px 65px;

}

button {

    margin: 15px 85px;
    width: 210px;
    height: 50px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}



    }
